@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap);
html,
body,
* {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.title{
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

.pdf-wrapper{
  width: 100%;
  max-width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 2.5rem;
}

.title-report{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

.event-report-info .table-responsive table tr td:nth-child(1){
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.event-report-info .table-responsive table tr td:nth-child(2){
  width: 33.333333%;
  text-align: center;
}

.col-no{
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.peserta-table-wrapper.table-responsive{
  overflow-x: auto;
}
.peserta-table-wrapper.table-responsive table tr td{
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

table thead tr th{
  text-align: left;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

@page {
  size: A4 landscape;
}
