.data-table table {
  width: 100%;
}
.data-table table thead th {
  text-align: center;
}
.data-table table thead th,
.data-table table tbody td {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.data-table table thead th:nth-child(1),
.data-table table tbody td:nth-child(1) {
  width: 7%;
}
.data-table table td {
  width: 50%;
  word-wrap: break-word;
  white-space: normal;
}

.img-preview {
  width: 200px !important;
  height: 270px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-preview-list {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 120px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-overlay {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  @apply bg-gradient-to-b from-transparent via-slate-100 to-slate-200 dark:via-slate-800 dark:to-dark opacity-50 dark:opacity-70;
}

.events-card .content-wrapper .event-image-wrapper {
  height: 200px;
}
.events-card .content-wrapper .event-info-wrapper {
  height: calc(100% - 200px);
}
