.data-table {
    table {
        width: 100%;
        thead th {
            text-align: center;
        }
        thead th,
        tbody td {
            width: fit-content;
        }
        thead th:nth-child(1),
        tbody td:nth-child(1) {
            width: 7%;
        }

        td {
            width: 50%;
            word-wrap: break-word;
            white-space: normal;
        }
    }
}

.img-preview {
    width: 200px !important;
    height: 270px !important;
    object-fit: cover;
}

.img-preview-list {
    width: fit-content;
    height: 120px !important;
    object-fit: cover;
}

.bg-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    @apply bg-gradient-to-b from-slate-200  via-slate-400 to-slate-600  opacity-60 dark:opacity-70;
    // @apply bg-gradient-to-b from-transparent via-slate-100 to-slate-200  opacity-60 dark:opacity-70;
    // @apply bg-gradient-to-b from-transparent via-slate-200 to-slate-400  opacity-50;
}
.hero-top {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
$event-card-image-height: 200px;

.events-card {
    .content-wrapper {
        .event-image-wrapper {
            height: $event-card-image-height;
        }
        .event-info-wrapper {
            height: calc(100% - $event-card-image-height);
        }
    }
}

.card-border {
    background-color: #ffffff;
    border-radius: 1rem;
    border-width: 1px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
