:root {
    --main-color: #2c8bff;
    --sec-color: #457b9d;
    --reset-color: #e23847;
    --fourth-color: #1d3557;
}

.data-table {
    table {
        width: 100%;
        thead th {
            text-align: center;
        }
        thead th,
        tbody td {
            width: fit-content;
        }
        thead th:nth-child(1),
        tbody td:nth-child(1) {
            width: 7%;
        }

        td {
            width: 50%;
            word-wrap: break-word;
            white-space: normal;
        }
    }
}

.img-preview {
    width: 200px !important;
    height: 270px !important;
    object-fit: cover;
}

.img-preview-list {
    width: fit-content;
    height: 120px !important;
    object-fit: cover;
}

.bg-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    @apply bg-gradient-to-b from-slate-200  via-slate-400 to-slate-600  opacity-60 dark:opacity-70;
    // @apply bg-gradient-to-b from-transparent via-slate-100 to-slate-200  opacity-60 dark:opacity-70;
    // @apply bg-gradient-to-b from-transparent via-slate-200 to-slate-400  opacity-50;
}

.data-dz-thumbnail,
.dz-image {
    width: 200px !important;
    height: 270px !important;
    object-fit: cover;

    @apply max-w-full h-auto block mx-auto mt-3 mb-3 rounded-md shadow-md;

    img {
        // width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.hero-top {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
$event-card-image-height: 200px;

.events-card {
    .content-wrapper {
        .event-image-wrapper {
            height: $event-card-image-height;
        }
        .event-info-wrapper {
            height: calc(100% - $event-card-image-height);
        }
    }
}

.card-border {
    background-color: #ffffff;
    border-radius: 1rem;
    border-width: 1px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.output {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

#canvas {
    background: #fff;
    width: 100%;
    object-fit: contain;
    border: 1px solid #ececec;
    border-radius: 15px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / 10%),
        0 1px 2px 0 rgb(0 0 0 / 6%);
}

.draggable-file {
    position: absolute;
    height: 520px;
    width: 770px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 5px dashed #d7d7d7;
    border-radius: 15px;
    font-size: 20px;
    color: #676767;
    text-align: center;
}

.draggable-file i {
    display: block;
    color: gray;
    font-size: 50px;
    text-align: center;
    margin-top: 25%;
}

.draggable-file-label {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-file {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
}

.input label {
    @apply text-gray-600 text-lg font-semibold;
}

#text,
#select-font,
#select-position,
#select-font-size,
#font-style {
    margin-top: 5px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 9px 8px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    resize: vertical;
    color: #676767;
    background: #fff;
}

#text::-webkit-input-placeholder {
    color: #b0b0b0;
}

#text:-moz-placeholder {
    /* Firefox 18- */
    color: #b0b0b0;
}

#text::-moz-placeholder {
    /* Firefox 19+ */
    color: #b0b0b0;
}

#text:-ms-input-placeholder {
    color: #b0b0b0;
}

#text::placeholder {
    color: #b0b0b0;
}

#text:focus-visible,
#select-font:focus-visible,
#select-position:focus-visible,
#font-style:focus-visible,
#select-font-size:focus-visible {
    outline: none;
    border: 1px solid var(--main-color);
    box-shadow: 0 0 4px var(--main-color);
}

#colorPicker {
    padding: 0;
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #e5e5e5;
    outline: none;
    -webkit-appearance: none;
}

#colorPicker::-webkit-color-swatch-wrapper {
    padding: 0;
}

#colorPicker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.select {
    width: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    padding: 15px;
    background: #fff;
}

.grab {
    cursor: -webkit-grab;
    cursor: grab;
}
.grabbing {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
